body {
     background: #116d94;
     font-family:Arial, Helvetica, sans-serif;
}

     .assignment{
          display: flex;
          padding: 10px;
          margin: 10px;
          background-color: #81d6fa
          
     }

     .assignment img{
          width: 200px;
          margin:10 px;
          border: 4px solid pink;
     }

     .assignment img:hover{
          border: 4px solid #f25c69;
     }
     h1{
        color:pink;
        text-align:center;
      }

     a{
     text-decoration: none;
     color:#f25c69;

     }
     a:hover {
          color:#f25c69
     }

